# Ensure binary files are not modified by line ending conversions
*.jar binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.webp binary
*.mp4 binary
*.webm binary
*.wav binary
*.mp3 binary
*.ogg binary
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary
